# Used by Astro frontend
SANITY_PROJECT_ID=your_project_id
SANITY_DATASET=production
SANITY_API_READ_TOKEN=your_read_token
SANITY_API_VERSION=2025-04-23
SANITY_USE_CDN=false

# Optional (e.g. for canonical URL, SEO)
PUBLIC_GOOGLE_SITE_VERIFICATION=

# Used by Studio on Vercel (if separate project)
SANITY_STUDIO_PROJECT_ID=your_project_id
SANITY_STUDIO_DATASET=production
